@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="btn-group">
    <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Login</a>
    <a asp-controller="Register" asp-action="Index" class="btn btn-secondary">Register</a>
</div>
